---
const { data } = Astro.props;
// const imgSrc = `../../public/produktbilleder${billede}`;
---

<a href={`produkt/${data.slug}`}>
  <article>
    <img
      src={`../../public/produktbilleder/Maleri/${data.billede}`}
      alt="billede"
    />

    <h2>{data.navn}</h2>
    <p>{data.størrelse}</p>
    <p>{data.kategori}</p>
  </article>
</a>

<style></style>
<!-- const imgsrc = `./produktbilleder/$(image)`: -->
