---
const { data } = Astro.props;
---

<section class="card" >
  <a class="a_tag" href={`produkt/${data.slug}`}>
   <div class="imgBox"> <img
      src={`../../public/produktbilleder/Maleri/${data.billede}`}
      alt="billede"
    />
  </div>
</a>
  <div class="beskrivelse">
    <p class="kat">{data.kategori}</p>
    <h2>{data.navn}</h2>
    <p class="size">{data.størrelse}</p>
    <p class="pris">{data.pris} </p>
  </div>
  

</section>

<style>


  .card{
    display: flex;
    flex-direction:column;
    justify-content: end;

    background-color: #f0e6e05b;
  }

  img {

  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.03);
  }
  }


.beskrivelse{
    padding: 10px;
  } 

  .card img {
max-width: 100%;
  /* Skalér billedet for at fylde hele pladsen i billedboksen */
}

 h2{
  font-size: 1rem;
 }

 .size{
font-weight: 500;
padding: 6px 0 1em 6px;
font-size: small;
 }

 .pris{
font-weight: 500;
font-size: 18px ;
padding: 2.5em 0 0 0;
color: rgb(72, 71, 71);
 }

 .kat{
font-weight: 500;
  font-style: italic;
  padding: 6px 0 1em 0;
 }

 @media

</style>
